<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a routerLink="/" class="nav-link">
                <span class="title">CRPaaS</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Repositories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/status" routerLinkActive="active">OpenGrok Status</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>