apiVersion: v1
kind: ConfigMap
metadata:
  name: ssh-config-ssh-config
  labels:
    {{- include "crpaas.labels" . | nindent 4 }}
data:
  config: |
    Host *
      StrictHostKeyChecking no
      UserKnownHostsFile /dev/null